body{
    background:#014a6b;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
   

    

}



.jedna{
background-position: left;
color:#e2f0f6;
padding: 8px;
margin: 8px;
text-align: center;
background: #003147;
border-radius: 25px;
width: 25%;
position:relative;


}

.druhe{
    background:snow;
    text-align: center;
    font-size: 20px;
   padding: 10em;
    margin: 1Oem;
    border-radius: 25px;
    color:#003147;
    padding: 7px;
    margin: 1Opx;



    
    
    
    
}

img{
    max-width: 200px;
    min-height: 2OOpx;
    border-radius: 25px;
    margin:4px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(12, 35, 56);
    
    
  

    
    
}



h3{
    font-size: 40px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 32px;
}
.menu{
    text-align: center;
   background-color: #003147;
   font-size: medium;


}

.menu li{
    display:inline;
    
}

.menu a {
    color: snow;
    text-decoration: none;
    padding: 20px 20px;
}

.zaver{
    background-color: #003147;
    color: #e2f0f6;
}

.roll{
    position: fixed;
}

